<div class="card mt-4">
    <div class="card-header">
        EXPERIENCE
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Company</label>
                    <input type="text" [(ngModel)]="company_name" name="company" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Job Title</label>
                    <input [(ngModel)]="job_title" name="job_title" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label-sm">Date From</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="Date" [(ngModel)]="dateFrom"
                                name="dateFrom">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label-sm">Date To</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="Date" [(ngModel)]="dateTo"
                                name="dateTo">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Location</label>
                    <input [(ngModel)]="location" name="location" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Details</label>
                    <textarea [(ngModel)]="details" name="details" class="form-control" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" (click)="deleteExperience()">Delete</button>
            </div>
            <div class="col">
                <button class="btn btn-primary float-right" (click)="updateExperience()">Update</button>
            </div>
        </div>
    </div>
</div>