<div class="container">
    <div class="card bg-light mt-4">
        <div class="card-header">
            POST JOB
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Job Title</label>
                            <input [(ngModel)]="job_title" name="job_title" type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Company Name</label>
                            <input [(ngModel)]="company_name" name="company_name" type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Location</label>
                            <input [(ngModel)]="location" name="location" type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <mat-form-field>
                            <mat-label>Job Type</mat-label>
                            <mat-select name="job_type" [(ngModel)]="job_type">
                                <mat-option *ngFor="let jobType of jobTypes" [value]="jobType">
                                    {{jobType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label-sm">Application Deadline</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker1" placeholder="Date" [(ngModel)]="deadline"
                                        name="deadline">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Job Details</label>
                            <textarea [(ngModel)]="job_details" name="job_details" class="form-control"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button (click)="post()" class="btn btn-primary float-right">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>