<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand text-info">ResuME Builder</a>
            <button class="navbar-toggler" (click)="toggleNavbar()"  type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              data-target="#navbarNav"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav mr-auto">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/jobs']">Jobs
                                <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/post-job']" routerLinkActive="router-link-active" >Post Job<span class="sr-only">(current)</span></a>
                        </li>
                    </div>
                </ul>
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="userIsAuthenticated" (click)="logout()">Logout</a>
                        <a *ngIf="!userIsAuthenticated" class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                </div>
            </div>
        </div>
    </nav>
</header>