<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card mt-4">
                <div class="card-header text-center">
                    USER LOGIN
                </div>
                <div class="card-body">
                    <div *ngIf="invalid" class="alert alert-danger" role="alert">
                        Invalid email or password
                    </div>
                    <form [formGroup]="loginForm">
                        <div class="text-center">
                            <mat-form-field appearance="outline">
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email">
                                <mat-error>Enter a valid email address</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-icon matSuffix>vpn_key</mat-icon>
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password">
                                <mat-error>Password should be at least 6 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="text-center">
                            <div>
                                <button (keyup)="login()" style="width: 100%" (click)="login()"
                                    class="btn btn-primary">Log In</button>
                            </div>
                            <div *ngIf="loading" class="spinner-border mt-3" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="signup">
                            <br>
                            <p class="text-muted text-center">
                                Don't have an account? <span class="ml-3"><a [routerLink]="['/signup']"
                                        class="text-decoration-none"> Sign Up</a></span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>