<div class="container">
    <div class="pt-4 pb-4">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <div class="col">
                        <app-side-info></app-side-info>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-settings></app-settings>
                    </div>
                </div>
                <hr>
                <div class="row mb-4">
                    <div class="col">
                        <button [routerLink]="['/post-job']" style="width: 100%;" class="btn btn-info">Post
                            Job</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <app-personal-info (emitSnackBar)="openSnackBar($event)"></app-personal-info>
                    </div>
                </div>
                <div *ngFor="let experience of experienceList;let i = index" class="row">
                    <div class="col">
                        <app-experience (emitSnackBar)="openSnackBar($event)" [selfIndex]="i"
                            [experienceArray]="experienceList" (deleteEvent)="deleteExperience(i)"></app-experience>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button style="width: 100%;" class="btn btn-primary" (click)="addExperience()">Add
                            Experience</button>
                    </div>
                </div>
                <div *ngFor="let education of educationList;let j = index" class="row">
                    <div class="col">
                        <app-education (emitSnackBar)="openSnackBar($event)" (deleteEvent)="deleteEducation(j)"
                            [educationArray]="educationList" [selfIndex]="j"></app-education>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button style="width: 100%;" class="btn btn-primary" (click)="addEducation()">Add
                            Education</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-skills></app-skills>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>