<div class="container">
    <div class="pt-4 pb-4">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <div class="col">
                        <app-side-info></app-side-info>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-settings></app-settings>
                    </div>
                </div>
                <hr>
                <div class="row mb-4">
                    <div class="col">
                        <button [routerLink]="['/post-job']" style="width: 100%;" class="btn btn-info">Post
                            Job</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <app-personal-info></app-personal-info>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-experience></app-experience>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-education></app-education>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-skills></app-skills>
                    </div>
                </div>
            </div>
        </div>
    </div>˝
</div>