<div class="card bg-light">
    <div class="card-header">
        Information
    </div>
    <div class="show-image">
        <img [src]="imageURL" alt="..." class="card-img-top">
        <div>{{ uploadPercent | async }}</div>
        <input style="display: none;" #uploadImage type="file" (change)="onFileSelected($event)" />
        <button class="update btn" (click)="uploadImage.click()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">photo_camera</mat-icon>
        </button>
    </div>

    <div class="card-body">
        <h5 class="card-title text-center">{{firstName}} {{lastName}}</h5>
        <hr>
        <div class="text-center">
            <button class="btn btn-outline-success" (click)="openDialog()">Preview Resume</button>
        </div>
    </div>
</div>